.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
  gap: 30px;
  padding: 40px 0;
}

.course-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.course-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.course-card p {
  font-size: 13px;
  margin-top: 10px;
  /* border: 1px solid red; */
  line-height: 25px;
}

.course-card .course-description {
  padding: 20px;
}

.course-card .see-more {
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: inherit;
  font-size: 15px;
  cursor: pointer;
}

.course-display {
  width: 100%;

  /* margin: 0 auto; */
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* border: 1px solid green; */
}

.course-img-div {
  margin-bottom: 30px;

  /* border: 1px solid red; */
}

.course-img-div h2 {
  margin-right: 0;
}

.course-img-div,
.course-details {
  width: 100%;
}

.course-img-div img {
  height: 300px;
  margin-right: 0;
  margin-bottom: 20px;
}

.course-details {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-details h2 {
  margin-bottom: 20px;
}

.course-details small {
  display: block;
  text-align: right;
}

.lesson-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lesson-div p {
  padding: 10px;
}

.lesson-div:nth-child(2n) {
  background-color: #f1f1f1;
}

.teachers-section {
  display: flex;
  flex-direction: column;
}

.teachers-section h2 {
  text-align: center;
}

.display-teachers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  text-align: center;
  gap: 20px;
  padding: 20px 0;
}

.teachers-name {
  font-size: 12px;
}

.teachers-details img {
  border-radius: 50%;
  height: 60px;
}

@media (min-width: 768px) {
  .course-display {
    padding: 30px 0;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 20px;
  }

  .course-img-div {
    display: flex;
    /* text-align: center; */
    margin-bottom: 0;
  }

  .course-img-div h2 {
    margin-bottom: 15px;
  }

  .course-img-div img {
    margin-bottom: 0;
    margin-right: 50px;
  }
  

  .teachers-section h2 {
    margin-right: 40px;
  }

  .teachers-section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .display-teachers {
    display: flex;
  }

  .teachers-details {
    text-align: center;
    margin-right: 30px;
  }
}
